@{
    Layout = null;
}

<!DOCTYPE html>
<html5>

    <head>
        <title>Forget Password</title>
        <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
        <link href="~/css/forgot_pass2.css" rel="stylesheet" />
    </head>

    <body>
        <div class="logo">
            <a href="#"><img src="~/img/Logo.png"></a>
        </div>
        <div class="container">
            <div class="corner">
                <img src="~/img/corner.png">
            </div>
            <div class="form_box">
                <form class="input_form" id="MyForm">
                    <img class="lock_icon" src="~/img/message_icon.png" alt="Lock Icon"><br><br>
                    <span class="form_heading">Check your email</span>
                    <p class="form_desc">We sent a password reset link to <span><asp:Label ID="txtemail" ></asp:Label></span></p>
                    <div class="btn_box">
                        <button class="openEmail_btn" id="btn_reset">Check Email</button>
                    </div>
                    <div class="footer_link">
                        <p>Didn’t receive the email ? <a href="#"> Click to resend</a></p><br>
                        <a class="back_login" href="@Url.Action("Login", "User")">
                            <img class="back_arrow" src="~/img/back_orange.png" alt="Back">
                            <span>Back to Log in</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
    </body>
