@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/multiview.css" rel="stylesheet" />
</head>

<div class="main">
    <div class="container">
        <div class="heading">
            <span>Book Appointment</span>
        </div>
        <form action="" class="appointment_form">
            <center>
                <table>
                    <tr>
                        <td>
                            <label for="emailtxt">Email :</label>
                        </td>
                        <td>
                            <input type="email"  class="mbl-no" placeholder="Enter Email" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="datetxt">Date of booking :</label>
                        </td>
                        <td>
                            <input type="date"  class="mbl-no" placeholder="Enter mobile no." required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="emptxt">Meeting with :</label>
                        </td>
                        <td>
                            <select ID="emptxt" class="mbl-no" placeholder="Enter mobile no." required>
                                <option value="">Dr. Amit Lathigara</option>
                                <option value="">Dr. Paresh Tanna</option>
                                <option value="">Bhoomi Dangar</option>
                                <option value="">Nirav Bhatt</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="desigtxt">Current designation :</label>
                        </td>
                        <td>
                            <input type="text"  class="mbl-no" placeholder="Assistant Professor"
                                   required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="mobiletxt">Mobile No :</label>
                        </td>
                        <td>
                            <input type="text"  class="mbl-no" placeholder="+91 xxxxxxxxxx"
                                   required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="resntxt">Reason for booking :</label>
                        </td>
                        <td>
                            <input type="text"  class="mbl-no" placeholder="Admission Purpose" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="desctxt">Personal emergency ? Please specify :</label>
                        </td>
                        <td>
                            <input type="text"  class="mbl-no" placeholder="Need Help..." required>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table><br><br>
            </center>
            <div class="submit-btn">
                <button class="submit-btn-button">Submit</button>
            </div>
        </form>
    </div>
</div>

